
.sidebar{
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	z-index: 200;
	padding-top: 5px;
	width: 72px;
}
.sidebar-link{
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
.sidebar-link:hover{
	background-color: lightgray;
}
.sidebar-link img {
height: 24px;
margin-block: 4px;
}
.sidebar-link div {
	font-family: Roboto,Arial;
	font-size: 10px;
}